.git
.gitignore
.dockerignore
.env
.env.*
docker-compose.yml
docker-compose-production.yml
.DS_Store
*.log
node_modules
public/vendor
public/node_modules
public/public/build
public/public/hot
public/public/storage
public/storage/pail
public/bootstrap/cache/*
public/storage/logs/*
