services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./phpdocker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - app-network
    restart: always

  app:
    build:
      context: .
      dockerfile: phpdocker/php/Dockerfile
    container_name: app
    volumes:
      - ./public/.env:/application/public/.env
    working_dir: /application
    depends_on:
      - db
      - redis
    networks:
      - app-network
    restart: always
    environment:
      - DB_HOST=db
      - REDIS_HOST=redis

  queue:
    build:
      context: .
      dockerfile: phpdocker/php/Dockerfile
    container_name: queue
    command: php artisan queue:work --tries=3 --sleep=3
    depends_on:
      - app
      - redis
    networks:
      - app-network
    restart: always
    environment:
      - DB_HOST=db
      - REDIS_HOST=redis

  db:
    image: mysql:8.0
    container_name: mysql
    volumes:
      - dbfile:/var/lib/mysql
    environment:
      MYSQL_DATABASE: forge
      MYSQL_USER: forge
      MYSQL_PASSWORD: forge
      MYSQL_ROOT_PASSWORD: root
    command: --default-authentication-plugin=mysql_native_password
    networks:
      - app-network
    restart: always

  redis:
    image: redis:alpine
    container_name: redis
    networks:
      - app-network
    restart: always

volumes:
  dbfile:

networks:
  app-network:
    driver: bridge
