/* Colors settings */
.text-brand {
    color: rgb(198, 123, 22) !important;
}

.page-container {
    max-width: 1070px;
    margin: 0 auto;
}

a.btn.btn-warning.btn-lg.fw-bold,
.w-100 {
    background-color: rgb(198, 123, 22) !important;
    border-color: rgb(198, 123, 22) !important;
    color: black !important;
}

a.btn.btn-warning.btn-lg.fw-bold:hover {
    background-color: white !important;
    border-color: rgb(220, 65, 0) !important;
    color: black !important;
}

button.btn.btn-warning.w-100.fw-bold.text-light {
    color: white !important;
}


.text-font-color {
    color: rgb(84, 91, 102);
}

.bg-font-color {
    background-color: rgb(84, 91, 102);
}

.text-brand {
    color: #1a3a6b;
}

.btn-brand {
    background: #1a3a6b;
    color: #fff;
    border: 0;
    font-weight: 600;
}

.btn-brand:hover {
    background: red;
}

.product-main-img {
    max-height: 460px;
    object-fit: contain;
}

.product-thumb {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #e5e5e5;
    cursor: pointer;
    transition: .2s;
}

.product-thumb:hover {
    border-color: #1a3a6b;
}

.specs-table-modern td:first-child {
    color: #777;
    width: 40%;
}

.specs-table-modern td {
    padding: .8rem 1rem;
}

.info-icon {
    font-size: 2rem;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f4f6;
    border-radius: 50%;
    color: #1a3a6b;
}
